.container {
    width: 100%;
}


.carList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .carList {
        grid-template-columns: 1fr;
    }
}