.heroSection {
    background-image: url('https://ik.imagekit.io/tvlk/image/imageResource/2025/01/05/1736039153373-64c979a852c7ec9063c6f2104bcf58dd.png?tr=q-75');
    background-size: cover;
    background-position: center;
    padding: 20px;
    backdrop-filter: brightness(70%);
}

.modeSelector {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.modeSelector button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.modeSelector button.active,
.active {
    background-color: #0096ff;
}

.bookingForm {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding: 15px;
    border-radius: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 180px;
}

.inputBox {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    color: #000;
}

.inputBox input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    flex: 1;
    font-size: 14px;
    margin-left: 8px;
    color: #000;
}

.label {
    color: white;
}

.searchBtn {
    background-color: #ff5e14;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}