body {
  background-color: #f5f5f7;
}

.textCenter {
  text-align: center;
}

.mainContainer {
  width: 80%;
  margin: 60px auto;
}

.subHeader {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutButton {
  color: white;
  background-color: #029e9d;
  border-radius: 12px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid #029e9d;
}

.logoutButton:hover {
  cursor: pointer;
  background-color: white;
  color: #029e9d;
}

.accountContainer {
  display: flex;
  margin-top: 24px;
}

.leftContainer {
  flex: 1;
}

.rightContainer {
  flex: 2;
}

.info img {
  max-width: 100px;
  border-radius: 50%;
}

.name {
  margin: 12px 0;
}

.email {
  color: #ccc;
}

.selectFea {
  margin-top: 24px;
}

.feature {
  color: #6c6c6c;
  font-size: 1.2em;
  line-height: 32px;
  font-weight: 600;
  text-decoration: none;
}

.feature:hover {
  color: #029e9d;
}

.title {
  font-size: 24px;
  margin-top: 20px;
}

.titleExplain {
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(50% - 48px);
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
  box-sizing: border-box;
}

.item i {
  float: right;
  font-size: 28px;
  color: #029e9d;
}

.itemContent {
  color: #6c6c6c;
}

.listBooking {
  display: flex;
  flex-direction: column;
}

.itemBooking {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px dashed #029e9d;
  margin: 16px 0;
  border-radius: 4px;
}

.itemBooking:hover {
  background-color: #e0f5f5;
}


@media (max-width: 900px) {
  .accountContainer {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .listItem {
    flex-direction: column;
  }

  .item {
    width: 80%;
    justify-content: center;
  }
}
