.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.logo img {
  height: 50px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
}

.navLink {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.login {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.register {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
}
